<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

    <body>
        <div class="wrapper">
            <%- include('./partials/slidebar') %>


        </div>

        <%- include('./partials/footer') %>
    </body>

</html>