<%- include('./partials/head') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="login_body dis-flex flex-c-m">
    <form action="/completeRegister" method="post" class="login_outer_div p-b-20 txt-center">
        <p class="fs-30 clblack txt-center ">Complete your registeration</p>
        <button type="submit"  class="btn btn-primary m-t-20 submit_btn_1 ">Register</button>
    </form>
</body>
</html>