<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <form action="/user/logout" method="post">
        <p>
            <%= email %>
        </p>
        <button type="submit">logout</button>
    </form>
</body>




</html>