<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
    
</head>
<body  class="login_body dis-flex flex-c-m">
    <div class="login_outer_div p-b-20">
        <div class="inner_div_1">
            <p class="fs-30 clblack txt-center ">Forgot Password</p>
        </div>
        <div class="inner_div_2  m-t-20 p-l-15 p-r-15 ">

            
            
            <form action="/user/forgetPassword" method="post" id="forgetPasswordForm" onsubmit="postForm(event)">
                    <p id="error-message" class="fs=15 bg-white w-full text-danger"></p>
                    <label for="email" class="clblack f-w-600">Enter your Email</label>
                    <input class="input_box p-l-15 " type="email" id="email" name="email" placeholder="Email">
                    <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1">
                        <p class="fs-18">Send OTP</p>
                    </button>
                
            </form>
            
        </div>

    </div>
    


   
<script>
    
   function postForm(e) {
            e.preventDefault()
            let email= document.getElementById('email').value;

            fetch("/user/forgetPassword", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            })
                .then((res) => {
                    if (res.redirected) {
                        window.location.href = res.url;
                    } else {
                        return res.json();
                    }
                })
                .then((data) => {
                   

                        console.log(data.error);
                        
                        document.getElementById('error-message').innerText = data.error;
                    
                })
                .catch((err) => {
                    document.getElementById('error-message').innerText = 'some eorror occured'


                })

        }
</script>
</body>
</html>