<%- include('./partials/head') %>

    <body class="login_body dis-flex flex-c-m">


        <div class="login_outer_div p-b-20">
            <div class="inner_div_1">
                <p class="fs-30 clblack txt-center">Register</p>

            </div>
            <div class="inner_div_2 m-t-20 p-l-15 p-r-15">
                <div class="dis-flex flex-c">
                    <a href="#" class="google-btn clblack dis-flex flex-c">
                        <img src="https://www.gstatic.com/images/branding/product/1x/gsa_512dp.png" alt="Google logo">
                        Signup with Google
                    </a>
                </div>
                <form action="/user/register" id="registerForm" method="post">

                    <div class="w-full m-t-20">
                        <label for="username" class="clblack f-w-600">Enter your Name</label>
                        <input class="input_box p-l-15" type="text" id="username" name="username" placeholder="Joe">
                    </div>

                    <div class="w-full m-t-20">
                        <label for="email" class="clblack f-w-600">Email Address</label>
                        <input class="input_box p-l-15" type="email" id="email" name="email"
                            placeholder="abc@gmail.com">
                    </div>

                    <div class="w-full m-t-20">
                        <label for="phoneNumber" class="clblack f-w-600">Phone Number</label>
                        <input class="input_box p-l-15" type="tel" id="phoneNumber" name="phoneNumber"
                            placeholder="89809834">
                    </div>

                    <div class="w-full m-t-20 password-container">
                        <label for="password" class="clblack f-w-600">Password</label>
                        <input class="input_box p-l-15" type="password" id="password" name="password"
                            placeholder="********">
                        <button type="button" id="togglePassword" class="m-t-10">
                            <i class="fas fa-eye fs-20"></i>
                        </button>
                    </div>


                    <div class="w-full m-t-20">
                        <label for="confirmPassword" class="clblack f-w-600">Confirm Password</label>
                        <input class="input_box p-l-15" type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="********">
                    </div>

                    <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1" id="submit-btn">
                        <p class="fs-18">Register</p>
                    </button>

                </form>
                <a href="/user/login" class="clblack m-t-20 dis-block fs-18">Already have an account? Login here</a>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/public/JS/validation.js"></script>


        <script>
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');

            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);

                // toggle the eye / eye slash icon
                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        </script>
        <script>
            document.getElementById('registerForm').addEventListener('submit', function (event) {
                event.preventDefault();

                // submitButton.disabled = true;

                const username = document.getElementById('username').value;
                const email = document.getElementById('email').value;
                const phoneNumber = document.getElementById('phoneNumber').value;
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;

                const error = validate(username, email, phoneNumber, password, confirmPassword)

                if (error) {
                    Swal.fire({
                        icon: "error",
                        title: "Validation Error",
                        text: error,
                    });
                    return
                }

                fetch('/user/register', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username, email, phoneNumber, password, confirmPassword })
                })
                    .then(res =>  res.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = data.successRedirect;
                        } 
                        if (data.error) {
                            
                            Swal.fire({
                                icon: "error",
                                title: "Validation Error",
                                text: data.error,
                            });
                            return
                        }
                    })
            });


            function validate(username, email, phoneNumber, password, confirmPassword) {
                return checkValidText(username, 'username', 3, 10, false, false, false) ||
                    checkValidEmail(email) ||
                    checkValidPhoneNumber(phoneNumber.toString()) ||
                    checkValidPassword(password, confirmPassword)
            }

        </script>
    </body>

    </html>