<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">




</head>

<body class="login_body dis-flex flex-c-m">
    <div class="login_outer_div p-b-20">
        <div class="inner_div_1">
            <p class="fs-30 clblack txt-center ">Login</p>
        </div>
        <div class="inner_div_2  m-t-20 p-l-15 p-r-15 ">

            <p id="error-message" class="fs=15 bg-white text-danger"></p>
            <form action="/user/resetPassword" class="" method="post" onsubmit="validation(event)" id="resetPasswordForm">

                <div class="w-full m-t-20 password-container">
                    <label for="password" class="clblack f-w-600">Password</label>
                    <input class="input_box p-l-15" type="password" id="password" name="password"
                        placeholder="********">
                    <button type="button" id="togglePassword" class="m-t-10">
                        <i class="fas fa-eye fs-20"></i>
                    </button>
                    <p id="passwordError" class="fs=15 bg-white text-danger"></p>
                </div>
                <div class="w-full m-t-20">

                    <label for="confirmPassword" class="clblack f-w-600">Confirm password</label>
                    <input class="input_box p-l-15 " type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="******">
                    <p id="confirmPasswordError" class="fs=15 bg-white text-danger error"></p>
                </div>

                <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1">
                    <p class="fs-18">Reset Password</p>
                </button>
                <a href="/user/login" class="clblack m-t-20 dis-block">Go back to login</a>

            </form>
        </div>

    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // toggle the eye / eye slash icon
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });
    </script>
    <script>
        function validation(event) {
            event.preventDefault()
            clearErrors()
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            let isValid = true;

            if (!validatePassword(password)) {
                displayError('passwordError', 'Invalid Password');
                isValid = false;
                return
            }

            if (password !== confirmPassword) {
                displayError('confirmPasswordError', 'Passwords do not match');
                isValid = false;
                return
            }

            if (isValid) {
                postForm(event)
            }

        }
        function validatePassword(password) {
            const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/;
            return passwordRegex.test(password) && !password.includes(' ');
        }

        function displayError(elementId, message) {
            document.getElementById(elementId).innerText = message;
        }

        function clearErrors() {
                const errors = document.querySelectorAll('.error');
                errors.forEach(error => error.innerText = '');
            }



        function postForm(e) {
            e.preventDefault()
            let password = document.getElementById('password').value;
            let confirmPassword=document.getElementById('confirmPassword').value;

            fetch("/user/resetPassword", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password,confirmPassword })
            })
                .then((res) => {
                    if (res.redirected) {
                        window.location.href = res.url;
                    } else {
                        return res.json();
                    }
                })
                .then((data) => {
                   

                        console.log(data.error);
                        
                        document.getElementById('error-message').innerText = data.error;
                    
                })
                .catch((err) => {
                    document.getElementById('error-message').innerText = 'some eorror occured'


                })

        }
        
    </script>


</body>

</html>