<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">




</head>

<body class="login_body dis-flex flex-c-m">
    <div class=""></div>
    <div class="login_outer_div p-b-20">
        <div class="inner_div_1">
            <p class="fs-30 clblack txt-center ">Login</p>
        </div>
        <div class="inner_div_2  m-t-20 p-l-15 p-r-15 ">

            <p id="error-message" class="fs=15 bg-white text-danger"></p>
            <form onsubmit="changePassword(event)" id="resetPasswordForm">

                <div class="w-full m-t-20 password-container">
                    <label for="password" class="clblack f-w-600">Password</label>
                    <input class="input_box p-l-15" type="password" id="password" name="password"
                        placeholder="********">
                    <button type="button" id="togglePassword" class="m-t-10">
                        <i class="fas fa-eye fs-20"></i>
                    </button>
                    <p id="passwordError" class="fs=15 bg-white text-danger"></p>
                </div>
                <div class="w-full m-t-20">

                    <label for="confirmPassword" class="clblack f-w-600">Confirm password</label>
                    <input class="input_box p-l-15 " type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="******">
                    <p id="confirmPasswordError" class="fs=15 bg-white text-danger error"></p>
                </div>

                <button type="submit" class="btn btn-primary w-full m-t-20 submit_btn_1">
                    <p class="fs-18">Reset Password</p>
                </button>
                <a href="/user/login" class="clblack m-t-20 dis-block">Go back to login</a>

            </form>
        </div>

    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // toggle the eye / eye slash icon
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/JS/validation.js"></script>
    <script>

        function changePassword(event) {
            event.preventDefault()
            const password = document.getElementById('password').value
            const confirmPassword = document.getElementById('confirmPassword').value
            const error = checkValidPassword(password, confirmPassword)

            if (error) {
                Swal.fire({
                    icon: "error",
                    title: "Validation Error",
                    text: error,
                });
                return
            }

            fetch("/user/resetPassword", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password, confirmPassword })
            })
                .then((res) => res.json())
                .then((data) => {
                    if (data.success) {
                        console.log(12);
                        
                        Swal.fire({
                            title: "Password Changed",
                            icon: "success",
                            timer: 2000
                        })
                        setTimeout(() => {
                            window.location.href=data.successRedirect;
                        }, 2000)
                    }else if(data.error){
                        Swal.fire({
                            title: "Error",
                            icon: "error",
                            text:data.error,
                        })
                    }
                })
        }

    </script>


</body>

</html>