<nav id="sidebar" class="minimized">
    <div class="sidebar-header">
        <img src="/public/images/logo2.png" alt="" width="35px" class="logo1">
        
        <button type="button" id="sidebarCollapse" class="btn btn-info mt-3">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <ul class="list-unstyled components">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> <span class="sidebar-title">Dashboard</span></a></li>
        <li><a href="/admin/users"><i class="fa fa-users"></i> <span class="sidebar-title">Users</span></a></li>
        <li><a href="/admin/products"><i class="fa fa-cube"></i> <span class="sidebar-title">Products</span></a></li>
        <li><a href="/admin/orders"><i class="fa fa-shopping-cart"></i> <span class="sidebar-title">Orders</span></a></li>
        <li><a href="/admin/categories"><i class="fas fa-list-alt"></i> <span class="sidebar-title">Categories</span></a></li>
        <li><a href="/admin/subCategories"><i class="fas fa-layer-group"></i> <span class="sidebar-title">Sub Categories</span></a></li>
        <li><a href="/admin/promoCode"><i class="fa fa-tag"></i> <span class="sidebar-title">Promo Code</span></a></li>
        <li><a href="/admin/offers"><i class="fa fa-gift"></i> <span class="sidebar-title">Offers</span></a></li>
        <li><a href="/admin/Payments"><i class="fas fa-credit-card"></i> <span class="sidebar-title">Payments</span></a></li>
        <li><a href="/admin/salesReport"><i class="fa fa-line-chart"></i> <span class="sidebar-title">Sales Report</span></a></li>
        <li class="p-0">
            <a href="" class="w-full" >
                <form action="/admin/logout" method="post">
                    <button class="text-white m-l-10"><i class="fa fa-sign-out"></i> <span class="sidebar-title">Logout</span></button>
                </form>

            </a>
        </li>
        
    </ul>
</nav>